@font-face {
    font-family: 'Bentham';
    src: url('../fonts/Bentham-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'ModernAntiqua';
    src: url('../fonts/ModernAntiqua-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'SnackerComic_PerosnalUseOnly';
    src: url('../fonts/SnackerComic_PerosnalUseOnly.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.cat {
    animation: walking 1s steps(11) infinite;
    height: 25px;
    width: 50px;
    background:url('../imgs/sprite_catwalk.png') 0 0 no-repeat;
    background-size: cover;
}

@keyframes walking {
    100% {background-position: 0 100%; }
}


.white-color {
    background-color: #ffffff;
    color: #333333;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.rgba-stylish-strong {
    background: transparent;
}

.card .view {
    -webkit-border-radius: 200px 200px 0px 0px;
    -moz-border-radius: 200px 200px 0px 0px;
    border-radius: 200px 200px 0px 0px;
}

.view.overlay {
    max-height: 200px;
}

.card-img-top {
    height: 100%;
}

.tomb-container .card {
    -webkit-border-radius: 200px 200px 0px 0px;
    -moz-border-radius: 200px 200px 0px 0px;
    border-radius: 200px 200px 0px 0px;
}

.card-body {
    background-color: whitesmoke;
}

.card-title.custom {
    font-family: 'Faster One', sans-serif;
    font-size: 50px;
    color: #333 !important;
}

.card-title {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 50px;
    color: #333 !important;
}

.font-custom {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 30px;
    color: #333 !important;
}

.coming-soon {
    text-align: center;
    width: 100%;
    margin-top:100px;
    margin-bottom: 100px;
}


.nav-link {
    font-family: 'Luckiest Guy', sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
}

.navbar.navbar-dark .navbar-toggler-icon {
    background-image: url("../imgs/menu.svg");
}

#more {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
}

.send-yours {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 30px;
    color: #333 !important;
}

.card-title-2 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 30px;
    color: #333 !important;
}

@media (min-width: 1024px) {
    .text-white.text-center.rgba-stylish-strong.py-5.px-4 {
        padding-top: 10rem !important;
    }
}

@media (max-width: 600px) {
    .card-title.custom {
        font-size: 30px;
    }
    .font-custom {
        font-size: 17px;
    }

}